body{
    margin:0;
}
#header{
    background: #1F1F1F;
}
#header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
#header-logo{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
}
#header-logo img{
    max-width: 100%;
}
#header-menu{
    display: inline-block;
    vertical-align: middle;
    margin :0 139px;
}
#header-menu a{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #BDBDBD;
    text-decoration: none;
    margin: 0 25px;
}
#header-menu a:hover{
    color: white;
    border-bottom: 2px solid white;
}
#header-search{
    display: inline-block;
    vertical-align: middle;
}
#header-search:hover{
    opacity: 50%;
    cursor: pointer;
}
#main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 53px;
}
#main-info{
    display: inline-block;
    vertical-align: middle;
    max-width: 552px;
}
#main-info h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #1F1F1F;
    margin: 0;
}
#main-info-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #1F1F1F;
    margin-top: 41px;
}
#main-info-description{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.08em;
    color: #1F1F1F;
    margin-top: 14px;
}
#main-info-actions{
    margin-top: 33px;
}
#main-info-watch{
    padding: 10px;
    width: 136px;
    box-sizing: border-box;
    display: inline-block;
    background: #FE6388;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
#main-info-watch:hover{
    background: #a54353;
}
#main-info-watch:active{
    background: #732f39;
}
#main-info-actions .main-info-action:hover{
    background: #a54353;
}
#main-info-actions .main-info-action:active{
    background: #732f39;
}
#main-info-actions .main-info-action{
    background: #1F1F1F;
    border-radius: 5px;
    width: 38px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    text-align: center;
    line-height: 45px;
}
#main-info-actions .main-info-action:last-child{
    line-height: 50px;
}
#main-image{
    display: inline-block;
    vertical-align: middle;
    margin-left: 47px;
}
#films{
    margin-top: 90px;
}
#films-container{
    max-width: 1200px;
    margin: 0 auto;
}
#films-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #1F1F1F;
    text-align: center;
}
#films-items{
    margin-top: 25px;
    margin-left: -12px;
    margin-right: -12px;
}
#films-items .film-item{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 12px;
    /*font-size: 0; lifehack */
    border-radius: 10px;
}
#films-items .film-item img{
    vertical-align: bottom;
}
#films-items .film-item:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.41);
}
#films-more{
    text-align: center;
    margin-top: 35px;
}
#films-more:hover div{
    color: #1F1F1F;
}
#films-more:hover{
    cursor: pointer;
}
#films-more div{
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: #BDBDBD;
    margin-top: 5px;
    margin-bottom: 50px;
}
#header-menu a.active{
    color: white;
}