body{
    margin: 0;
    font-family: "Arial", sans-serif;

}
#header{
    padding: 20px;
    background: #f4dd45;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}

#header .header-item{
    font-size: 15px;
    color: rgb(31, 28, 28);
    display: inline-block;
    vertical-align: middle;
    padding: 15px 10px;
    margin: 0 15px;
    text-decoration: none;
    border: 1px solid transparent;
}
#header .header-item.active,
#header .header-item:hover{
    border: 1px solid black;
}

#sofa{
    margin-top: 189px;
    text-align: center;
}
.title{
    font-size: 50px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-align: center;
}
#products{
    margin-top: 150px;
}
#products-container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
#products-items{
    max-width: 820px;
    margin: 47px auto 90px auto;
}
#products-items .product{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15.66px 2.34px rgba(199, 193, 203, 0.22);
    width: 248px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 8px 20px;
    box-sizing: border-box;
    margin: 11px;
    font-size: 20px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    position: relative;
}
#products-items .product .product-text{
    height: 46px;
}
#products-items .product:hover{
    box-shadow: 0px 2px 15.66px 2.34px rgba(199, 193, 203, 0.52);

}
#footer{
    padding: 43px;
    background: #995d00;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
#big-star{
    position: absolute;
    right: 10px;
    top:0;
}
#small-star{
    position: absolute;
    left: 90px;
    top: 640px;
    width: 90px;
}
/*
#products-items .product .product-new{
    position: absolute;
    top:10px;
    right: 10px;
}
*/

#products-items .product .new::after{
    content: url("../images/signaling.png");
}
#cookie{
    position: fixed;
    left: 30px;
    bottom: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15.66px 2.34px rgba(199, 193, 203, 0.22);
    width: 295px;
    padding: 20px;
    box-sizing: border-box;
}
#cookie-title{

}
#cookie-title span{
    font-size: 20px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    margin-right: 90px;
}
#cookie-text{
    font-size: 18px;
    color: rgb(54, 54, 54);
    line-height: 1.278;
    margin-top: 15px;
}