@font-face {
    src: url("../fonts/Nunito-Regular.ttf") format("truetype");
    font-family: "Nunito";
}

@font-face {
    src: url("../fonts/Nunito-Bold.ttf") format("truetype");
    font-family: "Nunito-Bold";
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
}

#layout {
    display: flex;
}

#sidebar {
    width: 250px;
    background: linear-gradient(180deg, #4E73DF 0%, #224ABE 100%);
    flex-shrink: 0;
}

#logo {
    padding: 20px;
    display: flex; /*не для самого элемента, а для дочерних элементов */
    align-items: center; /*выравнивание между собой по вертикали */
    justify-content: center; /*по горизонтали по центру*/
}

#logo span {
    font-family: Nunito-Bold, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-left: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

#menu .menu-item {
    text-decoration: none;
    display: flex;
    padding: 16px 20px;
    align-items: center;
}

#menu .menu-item span {
    font-size: 14px;
    line-height: 19px;
    margin-left: 10px;
    color: #FFFFFF;
}

#menu .menu-item.active, #menu .menu-item:hover {
    background: rgba(0, 0, 0, 0.57);
}

#content {
    flex-grow: 1;
}

#header {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#header-search {
    display: flex;
    position: relative;
}

#header-search input {
    background: #F8F9FC;
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
    line-height: 19px;
    border: 0;
    padding: 7px 10px;
    outline: 0;
    width: 244px;
    box-sizing: border-box;
}

#header-search button {
    background: #4B70DC;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    outline: 0;
}

#header-info {
    display: flex;
    align-items: center;
}

#header-info-actions {
    display: flex;
    align-items: center;
    padding-right: 3px;
    border-right: 1px solid #B3B3B3;
}

#header-info-actions svg {
    margin-right: 17px;
}

#header-info-user {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#header-info-user span {
    font-size: 14px;
    line-height: 19px;
    color: #858796;
}

#header-info-user #header-info-user-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-image: url("../images/selena.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}

#container {
    padding: 40px;
}

.block {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.block .block-title {
    background: #F8F9FC;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    line-height: 27px;
    font-family: Nunito-Bold, sans-serif;
    color: #3D63D2;
    padding: 20px;
}

.block .block-content {
    font-size: 16px;
    line-height: 22px;
    color: #858796;
    padding: 20px;
}

#commentators.block .block-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#commentators.block .commentator {
    margin: 30px 20px 10px 20px;
    text-align: center;
}

#commentators.block .block-title {
    text-align: center;
}

#main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

#main-items .block {
    max-width: 365px;
    margin: 20px;
}

#header-search-result {
    dipslay:none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    top: 50px;
}

#header-search-result .header-search-result-item {
    padding: 10px;
    font-size: 14px;
    line-height: 19px;
    font-family: Nunito-Bold, sans-serif;
    color: #000000;
    border-bottom: 1px solid #EBEBEB;
}
#header-search-result .header-search-result-item:last-child{
    border-bottom: 0;
}
#header-search:hover #header-search-result{
    display: block;
}