@font-face {
    src: url("../fonts/Ivan Petrov - Tavolga Free.ttf") format("truetype");
    font-family: "Tavolga";
}

body {
    margin: 0;
    font-family: "Tavolga", sans-serif;
}

#header a {
    text-decoration: none;
}

#header {
    background: #c7d235;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 33px 0;
}

.logo {
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
}

#header-container #menu-items {
    margin-left: 288px;
    display: inline-block;
    vertical-align: middle;
}

#header-container #menu-items .menu-item {
    margin-left: 28px;
    margin-right: 28px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

#main-container {
    max-width: 1200px;
    padding-top: 218px;
    padding-bottom: 205px;
    margin: 0 auto;
}

#main-group {
    position: relative;
    width: 502px;
    display: inline-block;
}

#main {
    background-image: url("../images/bg1.png");
    background-position: center bottom;
}

.title {
    font-size: 55px;
    color: rgb(215, 168, 77);
    line-height: 1.182;
    width: 506px;
}

#main-text {
    font-size: 17px;
    color: rgb(57, 39, 3);
    line-height: 1.471;
    width: 481px;
    margin: 60px 0;
}

.button {
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(215, 168, 77);
    width: 222px;
    height: 50px;
    margin: 3px;
    border: none;
}

.action {
    border: 1px solid rgb(215, 168, 77);
    display: inline-block;
}

#arrow {
    position: absolute;
    right: 212px;
    bottom: -60px;
}

#asking {
    position: absolute;
    right: 125px;
    bottom: -68px;
}

#properties-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 55px 0;
    font-size: 0;
}

#properties {
    background: #f1c90c;
}

.number {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-right: 182px;
    position: relative;
}
.number:last-child{
    margin-right: 0;
}

.square {
    background: #d7a84d;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -6px;
    left: -7px;
}

.prop-text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#citation {
    max-width: 1200px;
    /*margin: 0 auto;*/
    margin: 149px auto 107px auto;
    position: relative;
}

#citation-container {
    text-align: center;
    font-size: 20px;
    color: rgb(57, 39, 3);
    line-height: 1.5;
    width: 687px;
    margin: 0 auto;

}

#quote {
    position: absolute;
    left: 219px;
    z-index: -1;
    top: -5px;
}

#order {
    background: #fefaf3;
    position: relative;
}

#order-container {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

#order-title {
    font-size: 55px;
    color: rgb(215, 168, 77);
    line-height: 1.182;
    width: 466px;
    padding-top: 100px;
}

#form-text {
    font-size: 15px;
    color: rgb(57, 39, 3);
    line-height: 1.667;
    width: 192px;
    padding: 0 40px;
    display: inline-block;
    vertical-align: middle;
}

#second {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid rgb(244, 222, 180);
    margin: 30px 0;
    padding: 0 40px;
}

#form {
    border-width: 1px;
    border-color: rgb(215, 168, 77);
    border-style: solid;
    margin: 82px 14px 103px 0;
    display: inline-block;
    vertical-align: middle;
}

#form-title {
    font-size: 20px;
    color: rgb(57, 39, 3);
    line-height: 1.25;
    text-align: center;
    width: 300px;
}

#order-img {
    display: inline-block;
    vertical-align: middle;
}

#name {
    margin-top: 40px;
}

#phone {
    margin-top: 23px;
}

#second .action {
    margin-top: 31px;
}

#cam {
    position: absolute;
    left: 882px;
    top: -160px;
}

#footer {
    background: #9aa50c;
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 41px 0;
}

#time {
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
    margin-left: 291px;
    margin-right: 275px;
}

#footer a {
    text-decoration: none;
}

#reference {
    font-size: 13px;
    color: rgb(58, 62, 7);
    display: inline-block;
    vertical-align: middle;
}

#point {
    border-radius: 50%;
    background-color: rgb(244, 222, 180);
    position: fixed;
    width: 58px;
    height: 58px;
    right: 20px;
    bottom: 20px;
}

#point img {
    position: fixed;
    right: 37px;
    bottom: 42px;
}

input {
    width: 222px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(215, 168, 77);
}

input::placeholder {
    font-size: 15px;
    color: rgb(215, 168, 77);
    font-family: "Tavolga", sans-serif;
}
.in{
    padding: 9px;
}
