@media screen and (max-width: 1224px) {
    #header-container {
        padding-right: 20px;
        padding-left: 20px;
        justify-content: space-between;
    }

    #menu-items {
        margin: 0;
    }

    #main-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #second-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #third-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #fourth-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #footer-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .rect {
        margin-top: 65px;
    }

    #macaroons {
        margin-top: 78px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1178px) {
    #macaroons {
        max-width: 675px;
        margin: 0 auto;
    }

    .advantages {
        margin-bottom: 65px;
    }

    #second-2-half {
        max-width: 600px;
        margin: 0 auto;
        padding-bottom: 55px;
    }

    .rect {
        margin-bottom: 55px;
    }

    #third-container {
        padding-bottom: 65px;
    }

    #third-container h1 {
        margin-bottom: 55px;
    }

    #last-image {
        width: 350px;
    }

    #fourth-container {
        align-items: flex-end;
    }

    #order-macaroon {
        margin-left: 200px;
    }
}

@media screen and (max-width: 1024px) {
    #order-macaroon {
        margin-left: 33px;
    }

    #fourth-container {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    #header-container .logo {
        padding-left: 20px;
    }

    #header-container {
        padding: 0;
        justify-content: normal;
        overflow: hidden;
    }

    #main-container {
        position: relative;
    }

    #main-info {
        padding-bottom: 420px;
    }

    #main-image {
        position: absolute;
        bottom: 33px;
        right: 35px;
    }

    #phone {
        display: none;
    }

    #menu-items {
        margin-left: 103px;
    }

    #second-main-info {
        text-align: center;
        margin: 0 auto;
        max-width: 666px;
    }

    #second-1-half {
        display: inline-block;
        text-align: center;

    }

    #second-container {
        margin: 0 auto;
        text-align: center;
    }

    #second-title {
        max-width: 475px;
        margin: 0 auto 61px auto;
    }

    #second-description {
        margin: 0 auto -30px auto;
        max-width: 666px;
    }

    #second-image {
        margin: 0 auto;
        width: 302px;
    }


    .advantages {
        margin-top: 80px;
        /*max-width: 234px;*/
        max-width: 218px;
        position: relative;
    }

    .advantages:first-child, .advantages:nth-child(2) {
        margin-top: 10px;
    }


    .rect {
        margin-bottom: 74px;
    }

    .circle {
        left: 82px;
    }

    #third-container h1 {
        margin-bottom: 74px;
    }

    #third-container {
        padding-bottom: 78px;
    }

    #last-image {
        position: absolute;
        bottom: -50px;
        right: 0;
    }

    #order-macaroon {
        margin-left: 0;
        position: static;
    }

    #fourth-container {
        justify-content: space-between;
        align-items: flex-end;
    }

    #strawberry-2 {
        top: 235px;
        right: 92px;
    }

    #strawberry {
        top: 338px;
        left: 371px;
    }
}

@media screen and (max-width: 700px) {
    #main-image {
        width: 430px;
    }

    #last-image {
        width: 240px;
        bottom: 19px;
    }
}

@media screen and (max-width: 550px) {
    .rect {
        margin-top: 32px;
    }

    #header-container {
        justify-content: space-between;
        padding-right: 20px;
    }

    #last-image {
        display: none;
    }

    #main-container {
        text-align: center;
        display: block;
    }

    #main-info {
        margin-top: -90px;
        padding-bottom: 288px;
    }

    #main-description {
        font-size: 16px;
        margin: 40px auto;
    }

    #main-image {
        width: 250px;
        display: block;
        margin: 14px auto 0 auto;
        padding-bottom: 16px;
        position: static;
    }

    #main-info {
        padding-bottom: 0;
    }

    #main-container {
        position: static;
    }

    #main-info h1 {
        font-size: 32px;
    }

    #second-title {
        font-size: 30px;
        max-width: 317px;
        padding-top: 100px;
        margin-bottom: 40px;
    }

    #second-description {
        font-size: 16px;
        max-width: 352px;
    }

    #second-image {
        margin-top: 30px;
    }

    .advantages:first-child, .advantages:nth-child(2) {
        margin-top: -15px;
    }

    #second-2-half {
        max-width: 375px;
        padding-bottom: 100px;
    }

    .advantage-title {
        font-size: 20px;
    }

    .advantages {
        max-width: 173px;
        margin-top: 36px;
        margin-bottom: 0;
    }

    .circle {
        left: 50px;
    }

    .advantage-description {
        font-size: 13px;
    }

    #third-container h1 {
        font-size: 30px;
    }

    #third-container {
        padding: 100px 15px 26px 15px;
    }

    #order-title {
        font-size: 30px;
    }

    #order-description {
        font-size: 16px;
        max-width: 338px;
    }

    input {
        width: 345px;
    }

    #button button {
        width: 345px;
    }

    #burger {
        display: block;
    }

    #menu-items {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding-top: 30px;
        background: #000000d9;
        top: 0;
        left: 0;
        padding-right: 20px;
        /*width: 257px;*/
    }

    #menu-items.open {
        display: flex;
    }

    #menu-items a.menu-item {
        margin: 15px 5px;
    }

    #menu.open {
        display: flex;
    }

    #menu-items svg {
        display: block;
        width: 24px;
        fill: #821328;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    #burger svg {
        width: 40px;
        height: 22px;
        fill: #821328;
    }

    #strawberry-2 {
        display: none;
    }

    #strawberry {
        width: 66px;
        left: 294px;
        top: 239px;
    }

    #footer-container {
        max-width: 165px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 102px;
        position: relative;
    }

    #footer-first {
        text-align: center;
    }

    #footer-container #rights {
        position: absolute;
        left: calc(50% - 78px);
        bottom: 50px;
        margin-top: 0;
    }

    #footer-first {
        order: 1;
    }

    #footer-second {
        order: 3;
        margin-top: 40px;
    }

    #footer-third {
        order: 2;
        margin-top: 40px;
    }

    #header-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    #main-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    #second-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    #fourth-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    #order-macaroon {
        margin: 0 auto;
    }
}
@media screen and (max-width: 398px){
    #second-2-half {
        display: inline-block;
    }
    .circle {
        left: calc(50% - 35px);
        top: -80px;
    }

    .advantages:first-child {
        margin-top: -36px;
    }

    .advantages:not(:last-child) {
        margin-bottom: 136px
    }
    #second-image {
        width: 100%;}
}
@media screen and (max-width: 374px) {
    #strawberry {
        display: none;
    }

    input {
        width: 290px;
    }

    #button button {
        width: 290px;
    }


}