@font-face {
    font-family: "YesevaOne";
    src:url("../fonts/YesevaOne-Regular.ttf") format("truetype")
}
@font-face {
    font-family: "MullerRegular";
    src:url("../fonts/ofont.ru_Muller.ttf") format("truetype")
}
@font-face {
    font-family: "MullerMedium";
    src:url("../fonts/MullerMedium.ttf") format("truetype")
}
@font-face {
    font-family: "MullerBold";
    src:url("../fonts/MullerBold.ttf") format("truetype")
}
@font-face {
    font-family: "MullerMediumItalic";
    src:url("../fonts/MullerMediumItalic.ttf") format("truetype")
}
@font-face {
    font-family: "MullerRegularItalic";
    src:url("../fonts/MullerRegularItalic.ttf") format("truetype")
}

body{
    margin: 0;
}
.logo{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}
#logo-container{
    border-bottom: 1px solid rgb(235, 225, 207);
}
.logo .logo-main{
    font-size: 30px;
    font-family: "YesevaOne", serif;
    color: rgb(153, 110, 28);
    text-transform: uppercase;
}
.logo .logo-mini{
    font-size: 11px;
    font-family: "MullerRegular", serif;
    color: rgb(153, 110, 28);
    text-transform: uppercase;
    margin-top: 6px;
    letter-spacing: 1.32px;
}

#menu-items{
    max-width: 1200px;
    margin: 0 auto;
    padding: 29px 0;
    text-align: center;
}
.menu-item{
    font-size: 12px;
    font-family: "MullerMedium", serif;
    color: rgb(153, 110, 28);
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
    text-align: center;
    margin: 0 25px;
    letter-spacing: 1.2px;
}
.menu-item:hover {
    font-size: 12px;
    font-family: "MullerMedium", serif;
    color: rgb(230, 169, 54);
    text-transform: uppercase;
    line-height: 1.2;
}

#main-image img{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

#organise{
    max-width: 1200px;
    margin: 0 auto;
    padding: 130px 0;
}
#organise-title{
    font-size: 45px;
    font-family: "YesevaOne", serif;
    color: rgb(153, 110, 28);
    line-height: 1.222;
    width: 573px;
}
#points-container{
    display: inline-block;
    vertical-align: bottom;
    width: 606px;
}
#organise-descr{
    font-size: 15px;
    font-family: "MullerRegular", serif;
    color: rgb(153, 110, 28);
    line-height: 1.333;
    width: 486px;
    margin-top: 47px;
}
.point{
    display: inline-block;
    vertical-align: top;
    margin-top: 47px;
}
.point:not(:nth-child(2n)){
    margin-right: 40px;
}
#points-images #fst{
    margin-right: 22px;
}
.point i{
    color: #dc9229;
    margin-right: 10px;
}
.point i:hover{
    color: #805717;
}
.point span{
    font-size: 18px;
    font-family: "MullerBold", serif;
    color: rgb(153, 110, 28);
    line-height: 1.111;
}
.point .descr{
    font-size: 15px;
    font-family: "MullerRegular", serif;
    color: rgb(153, 110, 28);
    line-height: 1.333;
    width: 271px;
    margin-top: 10px;
}
#points-images{
    display: inline-block;
    vertical-align: bottom;
}

#pairs{
    background: #faf7f2;
}
#pairs-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 128px;
    padding-bottom: 86px;
}
#pairs-title{
    font-size: 45px;
    font-family: "YesevaOne", serif;
    color: rgb(153, 110, 28);
    line-height: 1.222;
}
.name{
    margin-top: 19px;
    font-size: 18px;
    font-family: "MullerMediumItalic", serif;
    color: rgb(197, 182, 152);
    line-height: 1.111;
}
#pairs-photos{
    margin-top: 58px;
    margin-left: -10px;
    margin-right: -10px;
}
.pair-photo{
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

#footer{
    background: #f1d2bd;
}
#footer-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 27px 0;
}
#footer .logo{
    display: inline-block;
    vertical-align: middle;
}
#socials {
    margin-right: 313px;
    display: inline-block;
    vertical-align: middle;
}
#socials svg:hover{
    fill: #644304;
}
#footer-container svg{
    fill: rgb(153, 110, 28);
    margin-right: 19px;
    width: 30px;
    height: auto;
}
#footer-container .logo{
    padding:0;
}
#references{
    font-size: 11px;
    font-family: "MullerRegularItalic", serif;
    color: rgb(153, 110, 28);
    line-height: 5;
    display: inline-block;
    vertical-align: middle;
    margin-left: 305px;
}
